<% if @post.errors.any? %>
     <div>
          <p><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</p>
          <ul>
               <% @post.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
               <% end %>
          </ul> 
     </div>
<% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :comment_entry %>
    <%= form.text_area :comment_entry %>
  </div>
  
  <div class="field">
    <%= form.hidden_field :post_id, value: @post.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
